/* Genre dropdown styles */

.genre-select label {
  margin-right: 8px;
  color: #fff;
}

.genre-select {
  padding: 7px 12px;
  border-radius: 4px;
  border: 1px solid #eee;
  font-size: 1em;
  background: #393b53;
  color: #fff;
  width: 100px;
  
}

.genre-select :focus {
  border: 1.5px solid #eebbc3;
}

.genre-center {
  /* max-width: 90px; */
  margin: 24px 0 0;
  text-align: left;
}
