/* 
main {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

  section {
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      }

      section:hover {
        transform: scale(1.18);
        box-shadow: 0 16px 48px 0 rgb(34 40 49 / 28%);
        background: #c3c929;
        color: #232946;
        z-index: 2;
      }
        
       */