
@import url("css/layout.css");
@import url("css/nav.css");
@import url("css/movies.css");
@import url("css/genre.css");
@import url("css/modal.css");
@import url("css/header.css");
@import url("css/list.css");
@import url("css/search-list.css");
@import url("css/watchlist.css");
@import url("css/favorites.css");

